---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=4629ddd2925e26386120921b9b369703&exclude=minutely,hourly&lat=47.427&lon=-121.418&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.427,"lon":-121.418,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1667675456,"sunrise":1667660129,"sunset":1667695382,"temp":33.53,"feels_like":24.06,"pressure":1010,"humidity":95,"dew_point":32.25,"uvi":0.21,"clouds":94,"visibility":719,"wind_speed":13.62,"wind_deg":272,"wind_gust":28.97,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"snow":{"1h":0.65}},"daily":[{"dt":1667674800,"sunrise":1667660129,"sunset":1667695382,"moonrise":1667692020,"moonset":1667648160,"moon_phase":0.41,"temp":{"day":33.53,"min":24.84,"max":41.54,"night":24.84,"eve":30.22,"morn":32.13},"feels_like":{"day":24.06,"night":24.84,"eve":22.32,"morn":23.94},"pressure":1010,"humidity":95,"dew_point":32.25,"wind_speed":17.31,"wind_deg":272,"wind_gust":49.91,"weather":[{"id":616,"main":"Snow","description":"rain
        and snow","icon":"13d"}],"clouds":94,"pop":0.98,"rain":2.48,"snow":24.18,"uvi":0.23},{"dt":1667761200,"sunrise":1667746620,"sunset":1667781697,"moonrise":1667779500,"moonset":1667735400,"moon_phase":0.45,"temp":{"day":31.48,"min":20.79,"max":32.27,"night":27.72,"eve":27.66,"morn":25.75},"feels_like":{"day":26.29,"night":27.72,"eve":21.61,"morn":18.37},"pressure":1003,"humidity":93,"dew_point":28.29,"wind_speed":6.55,"wind_deg":111,"wind_gust":10.8,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":1,"snow":19.0[...]
