---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=4629ddd2925e26386120921b9b369703&exclude=minutely,hourly&lat=47.427&lon=-121.418
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.427,"lon":-121.418,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1667517010,"sunrise":1667487146,"sunset":1667522757,"temp":273.17,"feels_like":273.17,"pressure":1017,"humidity":93,"dew_point":272.29,"uvi":0.3,"clouds":100,"visibility":2012,"wind_speed":0,"wind_deg":0,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"},{"id":701,"main":"Mist","description":"mist","icon":"50d"}],"snow":{"1h":1}},"daily":[{"dt":1667502000,"sunrise":1667487146,"sunset":1667522757,"moonrise":1667517120,"moonset":1667466180,"moon_phase":0.34,"temp":{"day":273.64,"min":271.33,"max":273.99,"night":273.68,"eve":273,"morn":271.66},"feels_like":{"day":273.64,"night":273.68,"eve":273,"morn":271.66},"pressure":1023,"humidity":85,"dew_point":271.62,"wind_speed":1.58,"wind_deg":261,"wind_gust":2.59,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":1,"snow":15.11,"uvi":0.69},{"dt":1667588400,"sunrise":1667573638,"sunset":1667609069,"moonrise":1667604600,"moonset":1667557260,"moon_phase":0.38,"temp":{"day":279.37,"min":273.86,"max":280.98,"night":279.38,"eve":280.95,"morn":275.74},"feels_like":{"day":276.73,"night":274.88,"eve":278.15,"morn":275.74},"pressure":1002,"humidity":99,"dew_point":278.48,"wind_speed":8.15,"wind_deg":262,"wind_gust":20.43,"weather":[{"id":616,"main":"Snow","description":"rain
        and snow","icon":"13d"}],"clouds":100,"pop":1,"rain":87.21,"snow":1.59,"uvi":0.04},{"dt":1667674800,"sunrise":1667660129,"sunset":1667695382,"moonrise":1667692020,"moonset":1667648160,"moon_phase":0.41,"temp":{"day":273.09,"min":269.9,"max":277.78,"night":269.9,"eve":272.22,"morn":272.49},"feels_like":{"day":267.92,"night":267.74,"eve":267.88,"morn":268.08},"pressure":1010,"humidity":95,"dew_point":271.54,"wind_speed":7.62,"wind_deg":262,"wind_gust":19.21,"weather":[{"id":616,"main":"Snow","description":"rain
        and snow","icon":"13d"}],"clou[...]
