---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=da340bec0df452f76f0fd81ae3215450&exclude=minutely,hourly&lat=47.427&lon=-121.418&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.43,"lon":-121.42,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1668035578,"sunrise":1668006095,"sunset":1668040652,"temp":34.27,"feels_like":29.12,"pressure":1016,"humidity":91,"dew_point":31.93,"uvi":0.47,"clouds":0,"visibility":10000,"wind_speed":5.75,"wind_deg":230,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"daily":[{"dt":1668020400,"sunrise":1668006095,"sunset":1668040652,"moonrise":1668042780,"moonset":1668011400,"moon_phase":0.54,"temp":{"day":34.59,"min":18.46,"max":35.01,"night":18.46,"eve":29.52,"morn":19.67},"feels_like":{"day":30.87,"night":18.46,"eve":29.52,"morn":19.67},"pressure":1017,"humidity":83,"dew_point":30.22,"wind_speed":5.01,"wind_deg":280,"wind_gust":6.87,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":5,"pop":0,"uvi":1.34},{"dt":1668106800,"sunrise":1668092586,"sunset":1668126974,"moonrise":1668131220,"moonset":1668102000,"moon_phase":0.58,"temp":{"day":33.98,"min":19.33,"max":35.55,"night":23.5,"eve":25.16,"morn":26.29},"feels_like":{"day":33.98,"night":16.83,"eve":21.15,"morn":26.29},"pressure":1028,"humidity":79,"dew_point":26.44,"wind_speed":5.26,"wind_deg":101,"wind_gust":5.64,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":95,"pop":0,"uvi":1.[...]
