---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=4629ddd2925e26386120921b9b369703&exclude=minutely,hourly&lat=47.427&lon=-121.418&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.427,"lon":-121.418,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1667875664,"sunrise":1667833112,"sunset":1667868013,"temp":29.71,"feels_like":24.51,"pressure":1003,"humidity":93,"dew_point":28.15,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.88,"wind_deg":95,"wind_gust":6.31,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"daily":[{"dt":1667847600,"sunrise":1667833112,"sunset":1667868013,"moonrise":1667866980,"moonset":1667829840,"moon_phase":0.48,"temp":{"day":34.05,"min":25.3,"max":35.1,"night":25.3,"eve":29.35,"morn":28.76},"feels_like":{"day":34.05,"night":18.46,"eve":24.06,"morn":28.76},"pressure":1003,"humidity":80,"dew_point":27.18,"wind_speed":5.77,"wind_deg":90,"wind_gust":9.98,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":1,"snow":9.23,"uvi":1.04},{"dt":1667934000,"sunrise":1667919603,"sunset":1667954332,"moonrise":1667954760,"moonset":1667920680,"moon_phase":0.5,"temp":{"day":33.33,"min":19.06,"max":34.95,"night":20.1,"eve":24.89,"morn":19.13},"feels_like":{"day":29.73,"night":13.26,"eve":18.88,"morn":10.92},"pressure":1015,"humidity":85,"dew_point":27.91,"wind_speed":6.4,"wind_deg":88,"wind_gust":8.39,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":91,"pop":0.37,"uvi"[...]
