---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=4629ddd2925e26386120921b9b369703&exclude=minutely,hourly&lat=47.98&lon=-123.49&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.98,"lon":-123.49,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1667755484,"sunrise":1667747203,"sunset":1667782109,"temp":24.3,"feels_like":19.92,"pressure":998,"humidity":77,"dew_point":18.82,"uvi":0.25,"clouds":100,"visibility":10000,"wind_speed":3.44,"wind_deg":340,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"daily":[{"dt":1667761200,"sunrise":1667747203,"sunset":1667782109,"moonrise":1667779920,"moonset":1667736000,"moon_phase":0.45,"temp":{"day":25.56,"min":20.93,"max":26.46,"night":20.93,"eve":24.01,"morn":24.3},"feels_like":{"day":25.56,"night":16.05,"eve":24.01,"morn":18.48},"pressure":999,"humidity":82,"dew_point":21.36,"wind_speed":6.82,"wind_deg":169,"wind_gust":12.71,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":97,"pop":1,"snow":41.6,"uvi":1.06},{"dt":1667847600,"sunrise":1667833696,"sunset":1667868424,"moonrise":1667867460,"moonset":1667830440,"moon_phase":0.48,"temp":{"day":17.98,"min":10.94,"max":19.87,"night":10.94,"eve":14.76,"morn":16},"feels_like":{"day":9.63,"night":4.51,"eve":8.28,"morn":9.18},"pressure":1007,"humidity":96,"dew_point":21.31,"wind_speed":5.91,"wind_deg":40,"wind_gust":9.75,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":0.92,"snow":16.72,"uvi":0.63},{"dt[...]
