---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=4629ddd2925e26386120921b9b369703&exclude=minutely,hourly&lat=47.98&lon=-123.49&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.98,"lon":-123.49,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1667674961,"sunrise":1667660710,"sunset":1667695796,"temp":27.9,"feels_like":15.3,"pressure":1011,"humidity":77,"dew_point":22.35,"uvi":0.65,"clouds":0,"visibility":10000,"wind_speed":19.57,"wind_deg":260,"wind_gust":27.63,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"snow":{"1h":0.25}},"daily":[{"dt":1667674800,"sunrise":1667660710,"sunset":1667695796,"moonrise":1667692500,"moonset":1667648700,"moon_phase":0.41,"temp":{"day":27.9,"min":19.2,"max":28.31,"night":21.43,"eve":21.81,"morn":25.99},"feels_like":{"day":20.7,"night":12.92,"eve":13.53,"morn":17.8},"pressure":1011,"humidity":77,"dew_point":22.35,"wind_speed":10.22,"wind_deg":246,"wind_gust":34.14,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":0,"pop":0.76,"snow":7.79,"uvi":0.77},{"dt":1667761200,"sunrise":1667747203,"sunset":1667782109,"moonrise":1667779920,"moonset":1667736000,"moon_phase":0.45,"temp":{"day":26.89,"min":19.45,"max":27.75,"night":19.45,"eve":23.79,"morn":23.36},"feels_like":{"day":26.89,"night":14.9,"eve":23.79,"morn":16.61},"pressure":1000,"humidity":89,"dew_point":28.54,"wind_speed":7.25,"wind_deg":168,"wind_gust":13.96,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":1,"snow":39.49[...]
