---
http_interactions:
- request:
    method: get
    uri: https://api.avalanche.org/v2/public/products/map-layer/NWAC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/8c30a4df3494ae7bdddf9874c32b5096
    body:
      encoding: ASCII-8BIT
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","id":419,"properties":{"name":"Olympics","center":"Northwest
        Avalanche Center","center_link":"https:\/\/www.nwac.us\/","timezone":"America\/Los_Angeles","center_id":"NWAC","state":"WA","off_season":false,"travel_advice":"Watch
        for signs of unstable snow such as recent avalanches, cracking in the snow,
        and audible collapsing. Avoid traveling on or under similar slopes.","danger":"no
        rating","danger_level":-1,"color":"#888888","stroke":"#104efb","font_color":"#ffffff","link":"http:\/\/www.nwac.us\/avalanche-forecast\/#\/olympics","start_date":"2022-11-04T22:00:00","end_date":"2022-11-17T02:30:00","fillOpacity":0.5,"fillIncrement":0.1,"warning":{"product":null}},"geometry":{"type":"Polygon","coordinates":[[[-123.4379,48.0261],[-123.2369,47.9749],[-123.124,47.9376],[-123.0239,47.899],[-122.9942,47.8497],[-122.9858,47.8068],[-122.992,47.761],[-123.0255,47.7084],[-123.0623,47.6492],[-123.224,47.4974],[-123.2937,47.4914],[-123.4628,47.5335],[-123.4971,47.5454],[-123.5922,47.5885],[-123.7994,47.7034],[-123.8318,47.7439],[-123.895,47.8245],[-123.9091,47.8898],[-123.9016,47.9255],[-123.7982,48.0414],[-123.7736,48.0596],[-123.7465,48.0658],[-123.6392,48.0579],[-123.5523,48.0484],[-123.4379,48.0261]]]}},[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=da340bec0df452f76f0fd81ae3215450&exclude=minutely,hourly&lat=47.98&lon=-123.49&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.98,"lon":-123.49,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1668035572,"sunrise":1668006682,"sunset":1668041059,"temp":26.56,"feels_like":21.09,"pressure":1021,"humidity":73,"dew_point":19.94,"uvi":0.52,"clouds":0,"visibility":10000,"wind_speed":4.61,"wind_deg":90,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"daily":[{"dt":1668020400,"sunrise":1668006682,"sunset":1668041059,"moonrise":1668043140,"moonset":1668012060,"moon_phase":0.54,"temp":{"day":29.62,"min":16.41,"max":29.62,"night":19.11,"eve":24.33,"morn":18.68},"feels_like":{"day":26.53,"night":12.65,"eve":19.99,"morn":12.52},"pressure":1018,"humidity":67,"dew_point":21.11,"wind_speed":4.54,"wind_deg":187,"wind_gust":4.61,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":10,"pop":0,"uvi":1.4},{"dt":1668106800,"sunrise":1668093175,"sunset":1668127379,"moonrise":1668131580,"moonset":1668102660,"moon_phase":0.58,"temp":{"day":30.33,"min":18.93,"max":31.23,"night":24.13,"eve":23.85,"morn":19.72},"feels_like":{"day":30.33,"night":24.13,"eve":23.85,"morn":13.39},"pressure":1028,"humidity":67,"dew_point":24.73,"wind_speed":4.54,"wind_deg":193,"wind_gust":5.19,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":37,"pop":0,"uvi":1[...]
[...]
