---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=da340bec0df452f76f0fd81ae3215450&exclude=minutely,hourly&lat=46.86&lon=-121.69&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":46.86,"lon":-121.69,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1668810997,"sunrise":1668784459,"sunset":1668817795,"temp":26.17,"feels_like":21.74,"pressure":1029,"humidity":40,"dew_point":7.38,"uvi":0.4,"clouds":0,"visibility":10000,"wind_speed":3.69,"wind_deg":97,"wind_gust":4.83,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"daily":[{"dt":1668798000,"sunrise":1668784459,"sunset":1668817795,"moonrise":1668761580,"moonset":1668810180,"moon_phase":0.82,"temp":{"day":25.34,"min":8.02,"max":26.78,"night":15.01,"eve":21.76,"morn":9.93},"feels_like":{"day":20.16,"night":8.35,"eve":15.82,"morn":-0.22},"pressure":1031,"humidity":25,"dew_point":-2.43,"wind_speed":6.98,"wind_deg":99,"wind_gust":9.46,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":0,"pop":0,"uvi":1.25},{"dt":1668884400,"sunrise":1668870944,"sunset":1668904137,"moonrise":1668852180,"moonset":1668897600,"moon_phase":0.85,"temp":{"day":31.3,"min":15.37,"max":32.61,"night":17.71,"eve":19.04,"morn":16.54},"feels_like":{"day":31.3,"night":17.71,"eve":19.04,"morn":10.36},"pressure":1023,"humidity":29,"dew_point":9.95,"wind_speed":4.03,"wind_deg":93,"wind_gust":4.32,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":58,"pop":0,"uvi":1.28},{[...]
[...]
