---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=da340bec0df452f76f0fd81ae3215450&exclude=minutely,hourly&lat=47.98&lon=-123.49&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.98,"lon":-123.49,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1668969475,"sunrise":1668958081,"sunset":1668990694,"temp":27.27,"feels_like":23.32,"pressure":1026,"humidity":78,"dew_point":21.99,"uvi":0.99,"clouds":0,"visibility":10000,"wind_speed":3.44,"wind_deg":240,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"daily":[{"dt":1668970800,"sunrise":1668958081,"sunset":1668990694,"moonrise":1668943320,"moonset":1668985440,"moon_phase":0.89,"temp":{"day":27.27,"min":27.27,"max":35.37,"night":32,"eve":33.66,"morn":30.76},"feels_like":{"day":27.27,"night":32,"eve":33.66,"morn":27.05},"pressure":1026,"humidity":78,"dew_point":21.99,"wind_speed":3.83,"wind_deg":191,"wind_gust":4.41,"weather":[{"id":616,"main":"Snow","description":"rain
        and snow","icon":"13d"}],"clouds":0,"pop":0.52,"rain":0.4,"snow":1.95,"uvi":1.21},{"dt":1669060800,"sunrise":1669044568,"sunset":1669077038,"moonrise":1669034220,"moonset":1669072920,"moon_phase":0.92,"temp":{"day":40.28,"min":32.27,"max":40.28,"night":34.97,"eve":34.88,"morn":33.03},"feels_like":{"day":37.92,"night":32.4,"eve":34.88,"morn":33.03},"pressure":1022,"humidity":77,"dew_point":37.8,"wind_speed":3.71,"wind_deg":343,"wind_gust":4.29,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":40,"pop":0.44,"rain":0.8[...]
