---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=da340bec0df452f76f0fd81ae3215450&exclude=minutely,hourly&lat=47.35&lon=-120.57&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.35,"lon":-120.57,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1674144103,"sunrise":1674142917,"sunset":1674175416,"temp":19.94,"feels_like":13.21,"pressure":1026,"humidity":82,"dew_point":15.85,"uvi":0,"clouds":15,"visibility":10000,"wind_speed":4.74,"wind_deg":306,"wind_gust":5.82,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"daily":[{"dt":1674158400,"sunrise":1674142917,"sunset":1674175416,"moonrise":1674137340,"moonset":1674165360,"moon_phase":0.92,"temp":{"day":29.01,"min":17.85,"max":32.41,"night":18.16,"eve":20.05,"morn":18.84},"feels_like":{"day":23.85,"night":18.16,"eve":20.05,"morn":11.71},"pressure":1025,"humidity":76,"dew_point":23.16,"wind_speed":5.26,"wind_deg":289,"wind_gust":7.36,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":41,"pop":0.04,"uvi":1.1},{"dt":1674244800,"sunrise":1674229268,"sunset":1674261903,"moonrise":1674227880,"moonset":1674256020,"moon_phase":0.96,"temp":{"day":30.47,"min":17.51,"max":31.17,"night":20.14,"eve":21.58,"morn":17.58},"feels_like":{"day":30.47,"night":20.14,"eve":21.58,"morn":17.58},"pressure":1031,"humidity":75,"dew_point":23.59,"wind_speed":2.04,"wind_deg":308,"wind_gust":3.02,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":94,"pop":0,"uvi":1.3},{"dt":1674331200,"sunrise":1674315616,"sunset":1674348390,"moonrise":1674317400,"moonset":1674347400,"moon_phase":0,"temp":{"day":31.32,"min":19.74,"max":32.02,"night":19.92,"eve":28.87,"morn":22.84},"feels_like":{"day":31.32,"night":11.62,"eve":21.11,"morn":22.84},"pressure":1025,"humidity":91,"dew_point":29.16,"wind_speed":11.21,"wind_deg":281,"wind_gust":28.23,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":90,"pop":0.74,"snow":2.84,"uvi":0.66},{"dt":1674417600,"sunrise":1674401962,"sunset":1674434878,"moonrise":1674406140,"moonset":1674439140,"moon_phase":0.04,"temp":{"day":31.57,"min":18.43,"max":32.61,"night":19.36,"eve":21.06,"morn":18.43},"feels_like":{"day":27.57,"night":19.36,"eve":15.58,"morn":11.91},"pressure":1026,"humidity":75,"dew_point":24.75,"wind_speed":5.37,"wind_deg":299,"wind_gust":7.38,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"clouds":14,"pop":0.14,"uvi":[...]
