---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=da340bec0df452f76f0fd81ae3215450&exclude=minutely,hourly&lat=47.98&lon=-123.49&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.98,"lon":-123.49,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1674144104,"sunrise":1674143747,"sunset":1674175988,"temp":18.37,"feels_like":18.37,"pressure":1024,"humidity":94,"dew_point":17.1,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0,"wind_deg":0,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"daily":[{"dt":1674158400,"sunrise":1674143747,"sunset":1674175988,"moonrise":1674138300,"moonset":1674165900,"moon_phase":0.92,"temp":{"day":26.26,"min":18.25,"max":28.9,"night":21.31,"eve":21.94,"morn":18.54},"feels_like":{"day":26.26,"night":16.45,"eve":17.55,"morn":12.31},"pressure":1026,"humidity":74,"dew_point":19.92,"wind_speed":5.28,"wind_deg":197,"wind_gust":5.5,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":80,"pop":0.04,"uvi":0.84},{"dt":1674244800,"sunrise":1674230096,"sunset":1674262476,"moonrise":1674228840,"moonset":1674256560,"moon_phase":0.96,"temp":{"day":29.41,"min":20.98,"max":30.18,"night":24.82,"eve":23.83,"morn":21.29},"feels_like":{"day":29.41,"night":19.17,"eve":20.08,"morn":16.84},"pressure":1032,"humidity":70,"dew_point":24.85,"wind_speed":4.52,"wind_deg":183,"wind_gust":3.62,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":92,"pop":0,"uvi":1.07},{"dt":1674331200,"sunrise":1674316443,"sunset":1674348965,"moonrise":1674318300,"moonset":1674347940,"moon_phase":0,"temp":{"day":28.08,"min":19.87,"max":31.03,"night":20.59,"eve":20.5,"morn":25.72},"feels_like":{"day":23.25,"night":13.82,"eve":12.33,"morn":18.73},"pressure":1025,"humidity":96,"dew_point":31.64,"wind_speed":7.11,"wind_deg":179,"wind_gust":10.09,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":1,"snow":5.35,"uvi":0.72},{"dt":1674417600,"sunrise":1674402787,"sunset":1674435455,"moonrise":1674407040,"moonset":1674439740,"moon_phase":0.04,"temp":{"day":27.21,"min":19.27,"max":27.5,"night":19.72,"eve":23.58,"morn":19.65},"feels_like":{"day":27.21,"night":14.36,"eve":23.58,"morn":14.25},"pressure":1030,"humidity":84,"dew_point":27.28,"wind_speed":4.88,"wind_deg":205,"wind_gust":5.32,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"clouds":100,"pop":0.59,"snow":0[...]
