---
http_interactions:
- request:
    method: get
    uri: https://api.avalanche.org/v2/public/product?center_id=NWAC&type=forecast&zone_id=427
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/82b74bf1da9712750a78fbcfc7912bd7
    body:
      encoding: ASCII-8BIT
      string: '{"id":111603,"published_time":"2022-09-07T14:55:00+00:00","expires_time":"2022-09-09T01:30:00+00:00","created_at":"2022-09-07T14:55:55+00:00","updated_at":"2022-09-07T14:57:19+00:00","author":"Dallas
        Glass","product_type":"summary","bottom_line":null,"hazard_discussion":"<p><strong>Fall
        Avalanche Statement:<\/strong><\/p>\n<p><span style=\"font-weight: 400;\">When
        dealing with early-season avalanche hazards the bottom-line is simple:<\/span><strong><em>
        If there&rsquo;s enough snow to ride, there&rsquo;s enough snow to slide.<\/em><\/strong><span
        style=\"font-weight: 400;\"> Whether you&rsquo;re out in the mountains hiking,
        hunting, skiing, climbing, snowboarding, or riding, approach steep smooth
        snow-covered slopes with caution and bring your avalanche rescue gear. Don&rsquo;t
        let the date on the calendar fool you when you encounter winter-like conditions;
        early-season<\/span><a href=\"https:\/\/avalanche.state.co.us\/caic\/acc\/acc_report.php?acc_id=639&amp;accfm=inv\"><span
        style=\"font-weight: 400;\"> avalanche fatalities have occurred.<\/span><\/a><span
        style=\"font-weight: 400;\">&nbsp;&nbsp;<\/span><\/p>\n<p><span style=\"font-weight:
        400;\">You are most likely to encounter early season avalanche hazards:<\/span><\/p>\n<ul>\n<li
        style=\"font-weight: 400;\" aria-level=\"1\"><span style=\"font-weight: 400;\">&nbsp;in
        higher elevation terrain<\/span><\/li>\n<li style=\"font-weight: 400;\" aria-level=\"1\"><span
        style=\"font-weight: 400;\">&nbsp;on permanent snowfields<\/span><\/li>\n<li
        style=\"font-weight: 400;\" aria-level=\"1\"><span style=\"font-weight: 400;\">&nbsp;in
        wind-loaded pockets<\/span><\/li>\n<\/ul>\n<p><span style=\"font-weight: 400;\">This
        can pose a dilemma since these are frequently the exact locations where early-season
        recreational opportunities exist. Limited information this time of year ca[...]
