---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=4629ddd2925e26386120921b9b369703&exclude=minutely,hourly&lat=47.427&lon=-121.418&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.427,"lon":-121.418,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1667763491,"sunrise":1667746620,"sunset":1667781697,"temp":31.05,"feels_like":31.05,"pressure":999,"humidity":93,"dew_point":29.48,"uvi":0.71,"clouds":100,"visibility":10000,"wind_speed":0,"wind_deg":0,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"daily":[{"dt":1667761200,"sunrise":1667746620,"sunset":1667781697,"moonrise":1667779500,"moonset":1667735400,"moon_phase":0.45,"temp":{"day":31.46,"min":24.26,"max":32.83,"night":28.2,"eve":29.48,"morn":27.91},"feels_like":{"day":25,"night":28.2,"eve":25.05,"morn":21.54},"pressure":1000,"humidity":93,"dew_point":29.88,"wind_speed":6.78,"wind_deg":96,"wind_gust":10.8,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":1,"snow":13.08,"uvi":0.71},{"dt":1667847600,"sunrise":1667833112,"sunset":1667868013,"moonrise":1667866980,"moonset":1667829840,"moon_phase":0.48,"temp":{"day":32.72,"min":20.62,"max":33.53,"night":20.79,"eve":26.91,"morn":27.93},"feels_like":{"day":32.72,"night":12.52,"eve":20.46,"morn":27.93},"pressure":1005,"humidity":90,"dew_point":28.6,"wind_speed":6.85,"wind_deg":98,"wind_gust":10.2,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":89,"pop":1,"snow":4.61,"uvi":1.14},{"[...]
