---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=4629ddd2925e26386120921b9b369703&exclude=minutely,hourly&lat=47.427&lon=-121.418
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.427,"lon":-121.418,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1667490037,"sunrise":1667487146,"sunset":1667522757,"temp":271.76,"feels_like":271.76,"pressure":1019,"humidity":93,"dew_point":270.89,"uvi":0.11,"clouds":100,"visibility":10000,"wind_speed":0,"wind_deg":0,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"daily":[{"dt":1667502000,"sunrise":1667487146,"sunset":1667522757,"moonrise":1667517120,"moonset":1667466180,"moon_phase":0.34,"temp":{"day":273.01,"min":271.33,"max":273.99,"night":273.39,"eve":272.71,"morn":271.62},"feels_like":{"day":271.16,"night":273.39,"eve":272.71,"morn":271.62},"pressure":1021,"humidity":88,"dew_point":271.47,"wind_speed":1.8,"wind_deg":272,"wind_gust":3.13,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":1,"snow":14.48,"uvi":1.11},{"dt":1667588400,"sunrise":1667573638,"sunset":1667609069,"moonrise":1667604600,"moonset":1667557260,"moon_phase":0.38,"temp":{"day":278.73,"min":273.72,"max":281.02,"night":278.86,"eve":280.81,"morn":275.63},"feels_like":{"day":276.88,"night":274.39,"eve":278.03,"morn":275.63},"pressure":1003,"humidity":100,"dew_point":277.85,"wind_speed":7.56,"wind_deg":261,"wind_gust":19.75,"weather":[{"id":616,"main":"Snow","description":"rain
        and snow","icon":"13d"}],"clouds":100,"pop":1,"rain":91.48,"snow":1.09,"uvi":0.06},{"dt":1667674800,"sunrise":1667660129,"sunset":1667695382,"moonrise":1667692020,"moonset":1667648160,"moon_phase":0.41,"temp":{"day":272.89,"min":270.72,"max":277.39,"night":270.72,"eve":271.68,"morn":272.63},"feels_like":{"day":267.78,"night":268.64,"eve":267.65,"morn":268.28},"pressure":1008,"humidity":96,"dew_point":271.5,"wind_speed":7.64,"wind_deg":262,"wind_gust":20.15,"weather":[{"id":616,"main":"Snow","description":"rain
        and snow","icon":"13d"}],"clo[...]
