---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=da340bec0df452f76f0fd81ae3215450&exclude=minutely,hourly&lat=47.427&lon=-121.418&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.427,"lon":-121.418,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1668969475,"sunrise":1668957473,"sunset":1668990307,"temp":38.73,"feels_like":38.73,"pressure":1026,"humidity":38,"dew_point":17.17,"uvi":1.07,"clouds":31,"visibility":10000,"wind_speed":1.99,"wind_deg":148,"wind_gust":2.84,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"daily":[{"dt":1668970800,"sunrise":1668957473,"sunset":1668990307,"moonrise":1668942780,"moonset":1668984960,"moon_phase":0.89,"temp":{"day":38.73,"min":26.82,"max":41.32,"night":35.62,"eve":32.25,"morn":28},"feels_like":{"day":38.73,"night":35.62,"eve":32.25,"morn":22.01},"pressure":1026,"humidity":38,"dew_point":17.17,"wind_speed":6.24,"wind_deg":106,"wind_gust":7.76,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":31,"pop":0,"uvi":1.26},{"dt":1669057200,"sunrise":1669043959,"sunset":1669076652,"moonrise":1669033680,"moonset":1669072500,"moon_phase":0.92,"temp":{"day":41.32,"min":33.49,"max":42.3,"night":35.37,"eve":37.69,"morn":35.76},"feels_like":{"day":41.32,"night":32.05,"eve":37.69,"morn":35.76},"pressure":1025,"humidity":75,"dew_point":32.4,"wind_speed":4.03,"wind_deg":116,"wind_gust":4.03,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"clouds":76,"pop":0.25,"snow":0.1,"uvi":0.78},{"dt":1669143600,"sunrise":1669130444,"sunset":1669163000,"moonrise":1669124880,"moonset":1669160220,"moon_phase":0.96,"temp":{"day":39.51,"min":33.21,"max":39.51,"night":36.93,"eve":33.21,"morn":33.75},"feels_like":{"day":35.78,"night":32.59,"eve":28.54,"morn":29.68},"pressure":1016,"humidity":78,"dew_point":31.59,"wind_speed":6.02,"wind_deg":123,"wind_gust":18.14,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"clouds":100,"pop":1,"rain":25.07,"uvi":0.48},{"dt":1669230000,"sunrise":1669216928,"sunset":1669249350,"moonrise":1669216260,"moonset":1669248360,"moon_phase":0,"temp":{"day":38.32,"min":32.11,"max":40.23,"night":34,"eve":37.83,"morn":37.31},"feels_like":{"day":38.32,"night":30.51,"eve":37.83,"morn":32.4},"pressure":1025,"humidity":93,"dew_point":35.11,"wind_speed":6.91,"wind_deg":268,"wind_gust":20.49,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":97,"pop":0.88,"rain":3.07,"[...]
