---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=4629ddd2925e26386120921b9b369703&exclude=minutely,hourly&lat=47.427&lon=-121.418
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.427,"lon":-121.418,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1667528663,"sunrise":1667487146,"sunset":1667522757,"temp":272,"feels_like":272,"pressure":1015,"humidity":86,"dew_point":270.2,"uvi":0,"clouds":100,"visibility":805,"wind_speed":0,"wind_deg":0,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13n"},{"id":741,"main":"Fog","description":"fog","icon":"50n"}],"snow":{"1h":2.37}},"daily":[{"dt":1667502000,"sunrise":1667487146,"sunset":1667522757,"moonrise":1667517120,"moonset":1667466180,"moon_phase":0.34,"temp":{"day":273.91,"min":271.33,"max":274.05,"night":273.5,"eve":272.19,"morn":271.66},"feels_like":{"day":273.91,"night":273.5,"eve":272.19,"morn":271.66},"pressure":1024,"humidity":81,"dew_point":270.06,"wind_speed":1.46,"wind_deg":276,"wind_gust":2.3,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":1,"snow":16.4,"uvi":0.69},{"dt":1667588400,"sunrise":1667573638,"sunset":1667609069,"moonrise":1667604600,"moonset":1667557260,"moon_phase":0.38,"temp":{"day":278.88,"min":273.98,"max":280.85,"night":278.71,"eve":280.84,"morn":275.72},"feels_like":{"day":276.67,"night":274.2,"eve":277.93,"morn":275.72},"pressure":1002,"humidity":100,"dew_point":278.03,"wind_speed":7.54,"wind_deg":260,"wind_gust":19.98,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"clouds":100,"pop":1,"rain":85.76,"uvi":0.04},{"dt":1667674800,"sunrise":1667660129,"sunset":1667695382,"moonrise":1667692020,"moonset":1667648160,"moon_phase":0.41,"temp":{"day":272.88,"min":270.92,"max":277.15,"night":271.13,"eve":272.22,"morn":272.59},"feels_like":{"day":267.85,"night":269.07,"eve":267.6,"morn":268.18},"pressure":1009,"humidity":95,"dew_point":271.32,"wind_speed":7.43,"wind_deg":262,"wind_gust":16.66,"weather":[{"id":616,"main":"Snow","description":"rain
        and snow","icon":"13d"}],"clouds":88,"pop[...]
