---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=4629ddd2925e26386120921b9b369703&exclude=minutely,hourly&lat=47.427&lon=-121.418&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.427,"lon":-121.418,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1667755948,"sunrise":1667746620,"sunset":1667781697,"temp":29.23,"feels_like":29.23,"pressure":1000,"humidity":86,"dew_point":25.99,"uvi":0.33,"clouds":100,"visibility":402,"wind_speed":0,"wind_deg":0,"weather":[{"id":602,"main":"Snow","description":"heavy
        snow","icon":"13d"},{"id":741,"main":"Fog","description":"fog","icon":"50d"}],"snow":{"1h":1.63}},"daily":[{"dt":1667761200,"sunrise":1667746620,"sunset":1667781697,"moonrise":1667779500,"moonset":1667735400,"moon_phase":0.45,"temp":{"day":29.98,"min":24.26,"max":33.13,"night":28.99,"eve":30.4,"morn":27.68},"feels_like":{"day":24.31,"night":28.99,"eve":27.5,"morn":21.06},"pressure":1001,"humidity":88,"dew_point":27.23,"wind_speed":6.96,"wind_deg":109,"wind_gust":11.54,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":1,"snow":18.39,"uvi":0.61},{"dt":1667847600,"sunrise":1667833112,"sunset":1667868013,"moonrise":1667866980,"moonset":1667829840,"moon_phase":0.48,"temp":{"day":32.7,"min":18.27,"max":33.31,"night":18.27,"eve":27.99,"morn":27.91},"feels_like":{"day":28.62,"night":9.52,"eve":22.17,"morn":27.91},"pressure":1005,"humidity":88,"dew_point":28.17,"wind_speed":6.89,"wind_deg":99,"wind_gust":9.22,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":88,"pop":1,"snow":5.2,"uvi":0[...]
